%section.tavern-card
  .card-header
    %h1.page-title О таверне
  .card-section
    %p
      В самом тёмном переулке Нейро-Силиконовой долины стоит бар The RubyVibe Bar — место, куда стекаются цифровые авантюристы всех мастей. Здесь, под мягкое свечение неоновых рубинов, бармены s1llya & s1d3r раздают не только напитки, но и задания для тех, кто готов бросить вызов корпорации NFBCorp.
    %p
      Каждая миссия — шанс проявить себя, заработать уважение и сделать ещё один шаг к легендам, что рождаются за этой стойкой.
    %p
      Добро пожаловать в RubyVibe. Тут начинаются приключения.
