services:
  web:
    container_name: ruby_vibebar
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      bash -c "
      bundle check || bundle install &&
      bundle exec rails db:prepare &&
      bundle exec rails server -e production -b 0.0.0.0 -p 3000
      "
    environment:
      RAILS_ENV: production
      RAILS_MAX_THREADS: 1
      BUNDLE_WITHOUT: "development test"
      BUNDLE_WITH: ""
      BUNDLE_PATH: /bundle
      BUNDLE_DEPLOYMENT: "1"
      SECRET_KEY_BASE: "Uo5JGsSPpgsdQl92yUv0kS38"
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - .:/rails
      - bundle_cache:/bundle
      - rails_storage:/rails/storage
      - rails_db:/rails/db


volumes:
  bundle_cache:
  rails_storage:
  rails_db:
