body {
    padding: 4.5rem;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #0b0c10;
    font-family: 'Inter', sans-serif;
}

#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; 
    pointer-events: none;
}

