.card {
    backdrop-filter: blur(3px) saturate(120%);
    -webkit-backdrop-filter: blur(8px)  saturate(120%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: var(--card-shadow);

    width: 50%;
    height: 250px;

    margin-left: 25%;
    margin-top: 15%;
    padding: 10px;

    text-align: center;
}

.card h2 {
    color: rgb(177,13,201);
}

.card p {
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;

}

  
.btn {
    margin-top: 1%;
    margin-bottom: 0.2%;
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-left: 10px;
}
  
.btn:hover {
    background-color: #fff;
    color: #0f0f0f;
    transform: scale(1.1);
}
  
.btn-primary {
    background-color: rgba(177,13,201,0.3);
    border-color: #B10DC9;
}
  
.btn-primary:hover {
    background-color: #9a0bbf;
    transform: scale(1.1);
}

.hidden {
    display: none;
}